<h1>設備</h1>
　　<% @equipments.each do |equipment| %>
        <%= image_tag equipment.get_image(50,50) %>
        <%= equipment.name %>
        <%= equipment.detail %>
        <% if admin_signed_in? %>
          <%= link_to "Destroy", equipment_path(equipment.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
          <%= link_to "Edit", edit_equipment_path(equipment.id) %>
        <% end %>
    <% end %>
