<h1>設備</h1>
　　<% @equipments.each do |equipment| %>
        <%= image_tag equipment.get_image(50,50) %>
        <%= equipment.name %>
        <%= equipment.detail %>
        <% if admin_signed_in? %>
          <%= link_to "削除", equipment_path(equipment.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
          <%= link_to "編集", edit_equipment_path(equipment.id) %>
        <% end %>
    <% end %>

    <% if admin_signed_in? %>
      <%= link_to "追加", new_equipment_path(@equipment.id) %>
    <% end %>
