<div class="container">
  <%= form_with model: @equipment, url: equipments_path do |f| %>
    <h4>設備名</h4>
    <%= f.text_field :name %>

    <h4>画像</h4>
    <%= f.file_field :image, accept: "image/*" %>

    <h4>詳細</h4>
    <%= f.text_field :detail %> 
    <%= f.submit '投稿' %>
  <% end %>
</div>