<div class="container pt-4">
  <h1>裏部屋</h1>
    <p>先生方から頂いた講義動画です。有効に活用しましょう。</p>
  <table class="table" style="table-layout:fixed;">
    <tr style="background-color: rgba(211,211,211,0.5);">
      <th style="width: 10%;">授業名</th>
      <th style="width: 10%;">先生</th>
      <th style="width: 10%;">講義動画</th>
      <th style="width: 20%;">URL</th>
      <% if admin_signed_in? %>
          <th>整理番号</th>
          <th></th>
      <% end %>
    </tr>
　　<% @urabeyas.each do |urabeya| %>
　　<tr>
      <td><%= urabeya.title %></td>
      <td><%= urabeya.teacher %></td>
      <td><%= urabeya.class_name %></td>
      <td style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;"><%= Rinku.auto_link(urabeya.class_url, :all, 'target="_blank"').html_safe %></td>
        
        <% if admin_signed_in? %>
          <td><%= urabeya.number %></td>
            <td><%= link_to "削除", urabeya_path(urabeya.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
                <%= link_to "編集", edit_urabeya_path(urabeya.id) %></td>
        <% end %>
    </tr>
    <% end %>

    <% if admin_signed_in? %>
      <%= link_to "追加", new_urabeya_path(@urabeya.id) %>
    <% end %>
</div>
