<div class="container pt-4" style="padding-bottom: 100px;">
  <h1>蔵書</h1>
    <p>角部屋にある蔵書一覧です。マナーを守って使いましょう。利用時のルールについては<%= link_to "こちら", rules_path %>をご覧ください。</p>
    <% if admin_signed_in? %>
      <%= link_to "追加", new_book_path(@book.id) %>
    <% end %>
  <div style="overflow-x: scroll;">
    <table class="table" style="table-layout:fixed;">
      <tr style="background-color: rgba(211,211,211,0.5);">
        <th style="width: 160px;">分野</th>
        <th style="width: 100px;">整理番号</th>
        <th style="width: 300px;">書名</th>
        <th style="width: 150px;">著者名</th>
        <th style="width: 100px;">出版社</th>
        <th style="width: 100px;">購入日</th>
        <th style="width: 200px;">備考</th>
        <th style="width: 100px;"></th>
      </tr>
　  　<% @books.each do |book| %>
      <tr>
        <td><%= book.category %></td>
        <td><%= book.number %></td>
        <td><%= book.title %></td>
        <td><%= book.author %></td>
        <td><%= book.publisher %></td>
        <td><%= book.date %></td>
        <td><%= book.detail %></td>
        
        <td><% if admin_signed_in? %>
              <%= link_to "削除", book_path(book.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
              <%= link_to "編集", edit_book_path(book.id) %>
            <% end %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>