<h1>使い方・ルール</h1>
    <% @rules.each do |rule| %>
        <%= rule.title %>
        <%= rule.body %>
        
        <% if admin_signed_in? %>
            <%= link_to "削除", rule_path(rule.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
            <%= link_to "編集", edit_rule_path(rule.id) %>
        <% end %>
    <% end %>

    <% if admin_signed_in? %>
      <%= link_to "追加", new_rule_path(@rule.id) %>
    <% end %>