<div class="container pt-4"style="padding-bottom: 100px;">
  <h1>使い方・ルール</h1>
    <% @rules.each do |rule| %>
      <div class="m-3">
        <h4><span style="background: linear-gradient(transparent 60%, #ffccec 0%); padding: 0 10px;"><%= rule.title %></span></h4>
      </div>
      <div class="mx-5"><%= safe_join(rule.body.split("\n"),tag(:br)) %></div>
        
        <% if admin_signed_in? %>
            <%= link_to "削除", rule_path(rule.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
            <%= link_to "編集", edit_rule_path(rule.id) %>
        <% end %>
    <% end %>

    <% if admin_signed_in? %>
      <%= link_to "追加", new_rule_path(@rule.id) %>
    <% end %>
</div>