<!DOCTYPE html>
<html>
  <head>
    <title>Kadobeya</title>
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">
    
    <style>
      .bg01 {
       background: url(/images/4.jpg);
       background-size: cover;
       background-position: center;
      }
    </style>

  </head>

  <body>
    <header class="fixed-top">
      <nav class="navbar navbar-light p-3 border-bottom shadow-sm" style="background-color: rgba(250,250,250,1);">
        <a class="navbar-brand" href="#">KADOBEYA</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"　aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <%= link_to "Top", root_path, class: "text-dark" %>
            <%= link_to "About", about_path, class: "text-dark" %>
            <%= link_to "設備", equipments_path, class: "text-dark"  %>
            <%= link_to "蔵書", books_path, class: "text-dark"  %>
            <%= link_to "使い方", rules_path, class: "text-dark"  %>
            <%= link_to "裏部屋", urabeyas_path, class: "text-dark"  %>
            <%= link_to "オープンチャット", "https://line.me/ti/g2/JE5Sji28wew-bIpnmtdGXO3iseCwHd95gRuZqA?utm_source=invitation&utm_medium=link_copy&utm_campaign=default", target: :_blank, rel: "noopener noreferrer", class: "text-dark"  %>
            </ul>
        </div>
      </nav>
    </header>
    
    <main style="margin-top: 73px; margin-bottom: 80px;">
      <% if admin_signed_in? %>
        <p>管理人ページ</p>
          <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
      <% end %>
    
      <%= yield %>
    </main>
    
    <footer class="pt-2 fixed-bottom" style="background-color: rgba(100,100,100,1);">
      <div class="container">
       <p class="text-light text-center">©Kadobeya</p>
      </div>
    </footer>
  </body>
</html>
